#create-trip-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    height: 60%;
    /* background-color: red; */
    border-radius: 60px;
    background: linear-gradient(216.22deg, rgba(218, 218, 218, 0.6) 13.37%, rgba(176, 176, 176, 0.35) 95.51%);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-style {
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.actual-form-container {
    width: 90%;
    height: 70%;
    /* background-color: black; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-form-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 80%;
    border-bottom: solid;
    border-bottom-color: white;
    column-gap: 18px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 7%;
    margin-right: 10%;
}

.form-icons {
    height: 70px;
    width: 70px;
    color: white;
    stroke-width: 1px;
}

.confirm-button-container {
    width: 90%;
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-button {
    height: 100%;
    width: 40%;
    border-radius: 30px;
    position: relative;
    background-color: transparent;
}

.confirm-button-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #D6D6D6;
    opacity: 0.5;
    border-radius: 30px;
}

.confirm-text {
    position: absolute;
    font-size: 40px;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}