#popupBox{

    width: 900px;
    height: 150px;
    color: black;
    background-color: rgb(236, 167, 39);
    border-color:rgb(171, 112, 3); ;
    z-index: 9;
    position: absolute;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

#textbody{

    color: black;
    position: absolute;
    padding-top: 6em;
    font-weight: 400px;
    z-index: 9;
    
    
}

.popupbox-text {
    font-weight: 500;
    font-size: 25px;
}




