.headingTripHistory {
    display: flex;
    border-radius: 8%;
    justify-content: space-between;
    align-items: center;
}

.headingPicture {
    border-radius: 50%;
}

.tripGenerate {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #395571;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4%;
}

.organiserBtn {
   display: flex;
   justify-content: flex-end;
   padding-top: 50px;
   padding-bottom: 50px;
   align-items: center;
}

input[type='checkbox'] {
    width:25px;
    height:25px;
}


.reportBtn {
    width: 300px;
    height: 65px;
    font-size: 27px;
    border-radius: 30px;
    background-color: #29D729;
}

.pieChartBtn {
    width: 100px;
    font-size: x-large;
}



.bigTitle {
    color: white;
    padding-left: 50px;
    padding-top: 5px;
    font-size: 60px;
}