.example-appear {
    opacity: 0;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition-delay: 300ms;
    transition: opacity 300ms ease-in;
}

.example-exit {
    opacity: 1;
}

.example-exit.example-exit-active {
    opacity: 0.01;
    transition-delay: 300ms;
    transition: opacity 300ms ease-in;
}   



.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 100ms linear;
}


.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 100ms linear;
}

.fade-exit-done {
    opacity: 0;
}